[submodule "public/3rd-party/resumable.js"]
	path = public/3rd-party/resumable.js
	url = git@github.com:23/resumable.js.git
[submodule "public/3rd-party/xhp-js"]
	path = public/3rd-party/xhp-js
	url = git@github.com:hhvm/xhp-js.git
