{% extends "base.html" %}

{% block content %}
<div class="card">
  <div class="card-header" data-i18n="about.vendor"></div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" data-i18n="common.credentials.name"></th>
          <td>{{vendor.name}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="common.credentials.mail"></th>
          <td>{{vendor.mail}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="common.credentials.phone"></th>
          <td>{{vendor.phone}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="common.credentials.website"></th>
          <td>{{vendor.website}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header" data-i18n="about.project"></div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" data-i18n="common.credentials.name"></th>
          <td>axolotl</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="about.version"></th>
          <td>{{axl.version}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="common.credentials.website"></th>
          <td><a href="https://github.com/henningjanssen/axolotl" target="_blank">https://github.com/henningjanssen/axolotl</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
