{% extends "base.html" %}

{% block content %}
{% if failedlogin %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" data-i18n="login.failed"></div>
{% endif %}
<form action="login" method="POST">
  <div class="row">
    <div class="col-md mb-3">
      <label class="form-label" for="username" data-i18n="login.nick"></label>
      <input id="username" type="text" class="form-control" name="username" value="{{user}}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md mb-3">
      <label class="form-label" for="password" data-i18n="common.credentials.password"></label>
      <input type="password" class="form-control" name="password" id="password" value="{{pw}}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md mb-3">
      <button type="submit" class="btn btn-primary" data-i18n="common.submit"></button>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-md mb-3">
    <div class="alert alert-info" role="alert" data-i18n="login.cookies"></div>
  </div>
</div>
{% endblock %}
