{% extends "base.html" %}

{% block content %}
<div class="card">
  <div class="card-header" data-i18n="moduledetails.moduleinfo"></div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" data-i18n="moduledetails.modulename"></th>
          <td>{{module.name}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="moduledetails.vendor"></th>
          <td>{{module.vendor}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="moduledetails.description"></th>
          <td>{{module.description}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="moduledetails.path"></th>
          <td><a href="{{baseuri}}/m/{{module.path}}">{{module.path}}</a></td>
        </tr>
        <tr>
          <th scope="row" data-i18n="moduledetails.installdate"></th>
          <td>{{module.installdate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a role="button" class="btn btn-danger" data-i18n="moduledetails.delete" href="settings/modules/uninstall/{{module.vendor}}/{{module.name}}"></a>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header" data-i18n="moduledetails.installer"></div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" data-i18n="common.credentials.username"></th>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="common.credentials.mail"></th>
          <td>{{user.mail}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="common.credentials.name"></th>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="home.note"></th>
          <td>{{user.note}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="home.registered"></th>
          <td>{{user.registered}}</td>
        </tr>
        <tr>
          <th scope="row" data-i18n="home.lastactivity"></th>
          <td>{{user.lastactivity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header" data-i18n="moduledetails.routings"></div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" data-i18n="moduledetails.uri"></th>
          <th scope="col" data-i18n="moduledetails.methods"></th>
          <th scope="col" data-i18n="moduledetails.handler"></th>
        </tr>
      </thead>
      <tbody>
        {% for r in routings %}
        <tr>
          <td>{{r.uri}}</td>
          <td>{{r.methods}}</td>
          <td>{{r.handler}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
